<section id="Greetings">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <article>
          <figure>
            <%= image_tag("prof.jpg", class: "prof-img img-circle") %>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>