<section id="Resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce">
          <h1>CONNOR LARMOUR</h1>
          <hr>
          <h3>Junior Web Developer</h3>
          <hr>
          <p>Victoria British Columbia Canada</p>
          <p>+1 25O 886 4898</p>
          <p>connorlarmour(at)outlook.com</p>
          <hr>
        </div>

        <h3>SUMMARY</h3>
        <p>
          "Team-oriented individual specializing in managing and balancing tasks, responsibilities, and objectives in both academic and work settings. Possesses an unparalleled commitment to individual and organizational growth and success, stemming from years of development in competitive soccer and tennis. Enjoys embracing challenges and thrives on collaboration in high-stress environments. Highly value exceptional work ethic, reliability, and versatility."<br>
          <br>
          As a junior web developer, I am actively seeking a position with like-minded colleagues that will allow me to sharpen my skills and abilities in my known languages, as well as learn new languages and techniques to expand my understanding.<br>
          <br>
          Please feel free to browse my <a href="https://github.com/CLarmour">Github</a> Profile, and view all projects I have created and contributed to.
        </p>
        <hr>

        <h3>SKILLS</h3>
        <p>
          <strong>Languages ></strong> HTML5, CSS3(Bootstrap, Materialize), Javascript (vanilla, jQuery), Ruby
          <br>
          <strong>Frameworks ></strong> Rails, Sinatra
          <br>
          <strong>Databases ></strong> PostgreSQL, SQLite3
        </p>
        <hr>

        <h3>EDUCATION</h3>
        <p>
          December 2015 - <em>Web Development Bootcamp</em><br>
          <strong>Lighthouse Labs</strong><br>
          -12 intense weeks of applied learning and problem solving in a variety of languages, frameworks, and ideologies.
        </p>
        <hr>

        <h3>WORK HISTORY</h3>
        <p>
          February 2012 - Present <br><strong>Westin Bear Mountain Golf Resort & Spa</strong><br>
          <br><em>Golf Services Associate & Team Leader</em><br>
          <br>
          Executed a wide range of tasks simultaneously, managing guest requests and interactions while simultaneously performing essential daily support services for the golf team. As a team member, I collaborated with the entire Bear Mountain Golf team to deliver outstanding customer service and golf experience, culminating with the resort being named the Starwood Preferred Guests' number one golf experience in the world. As a team leader, I directed the production and daily tasks across myself and the rest of the team, ensuring quality customer service and team production was priority number one. Won employee of the month for Golf Team in June 2012.
          <br>
          <br>
          October 2012 - May 2013 <br><strong>JV Driver Fabricators</strong><br>
          <br><em>Electrician Apprentice, 1st Year</em><br>
          <br>
          Delivered high quality electrical panels including the installation of electrical heat tracing on external module piping contributing towards the production of the William's module site in northern Alberta. Performed daily yard maintenance, troubleshooting, and preparing malfunctioning electrical components to ensure continued operational efficiency. Operated heavy machinery including zoom boom lifts, whilst recognizing and complying with appropriate safety precautions and regulations.
          <br>
          <br>
        </p>
        <hr>

        <h3>REFERENCES</h3>
        <br>
        <p>References are available upon request.</p>
        <hr>
      </div>
    </div>
  </div>
</section>
<br>
<br>