<section id="Resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce">
          <h1>CONNOR LARMOUR</h1>
          <hr>
          <h3>Junior Web Developer</h3>
          <hr>
          <p>Victoria British Columbia Canada</p>
          <p>+1 25O 886 4898</p>
          <p>connorlarmour(at)outlook.com</p>
          <hr>
        </div>
        <h4>SUMMARY</h4>
        <p>
          Team-oriented individual specializing in managing and balancing tasks, responsibilities, and objectives in both academic and work settings. Possesses an unparalleled commitment to individual and organizational growth and success, stemming from years of development in competitive soccer and tennis. Enjoys embracing challenges and thrives on collaboration in high-stress environments. Highly value exceptional work ethic, reliability, and versatility.<br>
          <br>
          As a junior web developer, I am actively seeking a position with like-minded colleagues that will allow me to sharpen my skills and abilities in my known languages, as well as learn new languages and techniques to expand my understanding.<br>
          <br>
          Please feel free to browse my <a href="https://github.com/CLarmour">Github</a> Profile, and view all projects I have created and contributed to.
        </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>