<section id="projects-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article>
          <h2>Here's some recent projects I've built/contributed to.</h2>
        </article>
      </div>
    </div>
  </div>
</section>
<section id="projects-banzai">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="wrapper">
          <span class="text">
            Banzai Roulette is a web app utilizing Ruby on Rails as a framework, PostgreSQL database, and the public APIs Giphy, and Facebook. The front end is styled with Javascript(vanilla, jQuery), and CSS(Materialize). The user signs in with Facebook, and creates a game 'lobby' and invites others via email. Each user will select a word/phrase, and once the game is complete, the loser returns to the lobby, selects the 'I lose' button, and the app will randomly select one of the chosen words/phrases and posts a signle 'gif' to the loser's Facebook wall. The app was created as a final demo product to fellow students, faculty, and public at Lighthouse Labs to showcase the skills learned throughout the program.
          </span>
          <img src="http://ryujiganaha.herokuapp.com/assets/banzai-b8bd7a00685be1333b678f15b9638208be4cc222b062e53200f811b0d84a3fcc.png" width="900px" height="500px" />
        </a>
      </div>
    </div>
  </div>
</section>