// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  text-align: center;
  color: #000066;
}

.introduce {
  text-align: center;
}

p {
  color: #000066;
}

h1 {
  color: #000066;
}

h3 {
  color: #000066;
  text-align: center;
}
